h4 {
    margin-bottom: 1.5rem;
}

.search {
    margin-bottom: 30px;
}

.recipe {
    list-style: none;
    border: 1px solid rgba(34, 34, 34, .2);
    border-radius: 5px;
}

.recipe p {
    margin-bottom: 0;
}

.recipe__link {
    display: block;
    text-decoration: none;
    color: currentColor;
    padding: 2rem;
}

.recipe__link:hover {
    color: inherit;
}

.input-title,
.input-desc {
    display: block;
    width: 100%;
    margin-top: 4rem;
}

.ingr-list {
    list-style-type: none;
}

.ingr-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}

.ingr-list input {
    margin: 0 1rem 0 0;
}

.input-desc {
    height: 18rem;
}

.ingr-remove {
    height: 25px;
    line-height: 25px;
    text-transform: none;
    margin-bottom: 0;
}